---
import type { PokemonListResponse } from '../interfaces/pokemon-list';
import PokemonCard from '../components/pokemons/PokemonCard.astro';
import MainLayout from '../layouts/MainLayout.astro';
import Title from '@components/shared/Title.astro';

const resp = await fetch('https://pokeapi.co/api/v2/pokemon');
const data = (await resp.json()) as PokemonListResponse;

const title = 'Pokémon Static | Home';
---

<MainLayout title={title}>
  <Title>Listado</Title>


  <section
    aria-label="Listado de Pokémons"
    class="grid sm:grid-cols-1 md:grid-cols-3 items-center justify-items-center gap-4 mt-5"
  >
    {data.results.map(({ name, url }) => (
    <PokemonCard name={name} url={url} />
    ) as any)}

    {
    }
  </section>
</MainLayout>